<!-- Habilidades -->
<section class="titulosSecciones">
    <div class="container-fluid colorFondo2">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 pt-2">
                <h4 class="pt-2 pb-2">Habilidades</h4>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 pt-2">
                <button type="button" class="btn text-white colorBotonAlta" data-bs-toggle="modal" data-bs-target="#modalHabilidadAdd">
                    <i class="fa-solid fa-circle-plus fa-xl"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-3 mb-1">
        <div class="row">
            <div class="col-4 cuadro mx-auto shadow text-center" *ngFor="let habilidad of habilidades">
                <!-- Button trigger modal - Boton para abrir formulario Habilidades -->
                <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalHabilidad">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </button>
                <button type="button" class="btn colorBoton">
                    <i class="fa-solid fa-trash fa-lg"></i>
                </button>
                <br>
                <div>
                    <p class="colorOrg mb-0">{{habilidad.tecnologia}}</p>
                </div>
                <img [src]="habilidad.url" [alt]="alternativo+habilidad.tecnologia" class="tamañoLogo">
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style.width.%]="habilidad.porcentaje" aria-valuenow="habilidad.porcentaje" aria-valuemin="0" aria-valuemax="100">{{habilidad.porcentaje}}%</div>
                </div>
                <p style="color:darkslateblue; font-size:small">{{habilidad.descripcion}}</p>
            </div>
        </div>
    </div>
</section>
<app-modal-habilidad></app-modal-habilidad>
<app-modal-habilidad-add></app-modal-habilidad-add>