.logoAP {
    width: 7rem;
}

.fa-solid.fa-user-lock.fa-xl:hover{
    --bs-text-opacity: 1;
	color:gold!important;
    font-size: 2em;
}

.fa-solid.fa-right-from-bracket.fa-xl:hover{
    --bs-text-opacity: 1;
	color:rgba(58, 239, 233, 0.769)!important;
    font-size: 2em;
}