<!-- Proyectos -->
<section class="titulosSecciones">
    <div class="container-fluid colorFondo2">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 pt-2">
                <h4 class="pt-2 pb-2">Proyectos</h4>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 pt-2">
                <button type="button" class="btn text-white colorBotonAlta" data-bs-toggle="modal" data-bs-target="#modalProyectosAdd">
                    <i class="fa-regular fa-square-plus fa-xl"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let proyecto of proyectos">
                <div class="card" style="width: 29rem;">
                    <img [src]="proyecto.url" class="card-img-top" [alt]="proyecto.descripcion">
                    <div class="card-body">
                        <p class="card-text">{{proyecto.descripcion}}</p>
                    </div>
                </div>
                <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalProyectos">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </button>
                <button type="button" class="btn colorBoton">
                    <i class="fa-solid fa-trash fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<app-modal-proyecto></app-modal-proyecto>
<app-modal-proyecto-add></app-modal-proyecto-add>