<!-- Formulario Modal Habilidades -->
<div class="modal fade" id="modalHabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="row g-3">
                    <div class="col-12">
                        <label for="inputTecnologiaHab" class="form-label">Tecnología</label>
                        <input type="text" formControlName="tecnologia" class="form-control" id="inputTecnologiaHab" placeholder="Nombre de Tecnología" [(ngModel)]="habilService.habilMod.tecnologia">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Tecnologia?.errors && Tecnologia?.touched">    
                        <p *ngIf="Tecnologia?.hasError('required')" class="error">
                            El Nombre de la Tecnología es requerido.
                        </p>
                    </div>
                    <div class="col-12">
                        <label for="inputUrlHab" class="form-label">URL Imágen</label>
                        <input type="url" formControlName="url_img_tecnologia" class="form-control" id="inputUrlHab" placeholder="http://..." [(ngModel)]="habilService.habilMod.url_img_tecnologia">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="UrlImgTecnologia?.errors && UrlImgTecnologia?.touched">    
                        <p *ngIf="UrlImgTecnologia?.hasError('required')" class="error">
                            El camino de la imágen de la Tecnología es requerido.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <label for="inputPorcentajeHab" class="form-label">Porcentaje</label>
                        <input type="number" formControlName="porcentaje" class="form-control" id="inputPorcentajeHab" placeholder="Ingrese un valor menor a 100" min="0" max="100" [(ngModel)]="habilService.habilMod.porcentaje">
                    </div>
                    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">    
                        <p *ngIf="Porcentaje?.hasError('required')" class="error">
                            El valor del Porcentaje es requerido.
                        </p>
                        <p *ngIf="Porcentaje?.hasError('min')" class="error">
                            El porcentaje debe estar entre 0 y 100
                        </p>
                        <p *ngIf="Porcentaje?.hasError('max')" class="error">
                            El porcentaje debe estar entre 0 y 100
                        </p>
                    </div>
                    <div class="col-md-12">
                        <label for="inputDescripcionNivelHab" class="form-label">Descripción del Nivel</label>
                        <input type="text" formControlName="descripcion" class="form-control" id="inputDescripcionNivelHab" placeholder="Principiante, Intermedio, Avanzado, etc." [(ngModel)]="habilService.habilMod.descripcion">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">    
                        <p *ngIf="Descripcion?.hasError('required')" class="error">
                            La descripción es requerida.
                        </p>
                    </div>
                    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-md rounded-3 btn-outline-success" data-bs-dismiss="modal">Grabar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>