<!-- Experiencia -->
<section class="titulosSecciones">
    <div class="container-fluid colorFondo2">
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 pt-2">
                <h4 class="pt-2 pb-2">Experiencia</h4>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 pt-2">
                <button type="button" class="btn text-white colorBotonAlta" data-bs-toggle="modal" data-bs-target="#modalExperienciaAdd">
                    <i class="fa-solid fa-circle-plus fa-xl"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row" *ngFor="let experiencia of experiencias">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pt-2">
                <p>Desde <strong>{{experiencia.fechainicio}}</strong> hasta <strong>{{experiencia.fechafin}}</strong></p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pt-2">
                <h5 class="colorOrg">{{experiencia.institucion}}</h5>
                <h6 class="center">{{experiencia.direccion}}</h6>
                <p><strong>Posición:</strong> {{experiencia.posicion}}</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 pt-2">
                <!-- Button trigger modal - Boton para abrir formulario Experiencia -->
                <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                    <i class="fa-solid fa-pen-to-square fa-xl"></i>
                </button>
                <button type="button" class="btn colorBoton">
                    <i class="fa-solid fa-trash fa-xl"></i>
                </button>
            </div>
            <hr>
        </div>
    </div>
</section>
<app-modal-experiencia></app-modal-experiencia>
<app-modal-experiencia-add></app-modal-experiencia-add>