<!-- Formulario Modal acercaDe -->
<div class="modal fade" id="modalAcercaDe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Acerca de ...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="row g-3">
                    <div class="col-12">
                        <label for="inpuNombreAD" class="form-label">Nombre y Apellido</label>
                        <input type="text" formControlName="nombreYApellido" class="form-control" id="inputNombreAD" placeholder="Nombre y Apellido">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="NombreYApellido?.errors && NombreYApellido?.touched">    
                        <p *ngIf="NombreYApellido?.hasError('required')" class="error">
                            El Nombre y Apellido es requerido.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <label for="inputTituloAD" class="form-label">Titulo</label>
                        <input type="text" formControlName="titulo"  class="form-control" id="inputTituloAD" placeholder="Desarrollador Front, Back, otros">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Titulo?.errors && Titulo?.touched">    
                        <p *ngIf="Titulo?.hasError('required')" class="error">
                            El Título es requerido.
                        </p>
                    </div>
                    <div class="col-12">
                        <label for="inputUrlAD" class="form-label">URL</label>
                        <input type="url" formControlName="urlImgPerfil"  class="form-control" id="inputUrlAD" placeholder="http://...">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="UrlImgPerfil?.errors && UrlImgPerfil?.touched">    
                        <p *ngIf="UrlImgPerfil?.hasError('required')" class="error">
                            El camino de la imágen de perfil es requerido.
                        </p>
                    </div>
                    <div class="col-12">
                        <label for="inputDescripcionAD" class="form-label">Descripción</label>
                        <!-- <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripción" required> -->
                        <textarea formControlName="descripcion" class="form-control" name="" id="inputDescripcionAD" cols="30" rows="5" placeholder="Descripción"></textarea>
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Descripcion?.errors && Descripcion?.touched">    
                        <p *ngIf="Descripcion?.hasError('required')" class="error">
                            La descripción es requerida.
                        </p>
                    </div>
                    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Grabar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>