body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif !important;
}

.colorFondo{
    background-color:#63970b;
    opacity: 0.9;
}

.colorFondo:hover{
    opacity: 1;
}

.colorFondo2{
    background-color:#f4aa0c;
    opacity: 0.8;
}

.colorBoton{
    color: #7c590c !important;
    opacity: 0.5;
}

.colorBoton:hover{
    opacity: 0.8;
}

.colorBotonAlta:hover{
    color: #422fed !important;
    opacity: 0.8;
}
.colorFondo2:hover{
    opacity: 1;
}

.titulosSecciones h4{
    color: #ffffff;
    font-weight: 700;
    font-size: large;
}

.colorOrg{
    color: midnightblue;
    font-weight: 600;
}

.fade{
    opacity: 0.94;
    border: 10px solid #eee;
    -webkit-box-reflect: below 0px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.piePagina{
    font-size: small;
    text-align: center;
}

.containerMio{
	width: 95%;
	margin: 0 auto;
	background: #fff;
	padding-top: 10px;
}

.figura{
	width: 32%;
	float: left;
	margin-bottom: 10px;
	margin-left: 1%;
}

.figura img{
    width: 100%;
    border-radius: 15px;
}

.figura img:hover{
	filter: grayscale(100%);
    width: 101%;
	-webkit-filter: grayscale(100%);
}

.tituloFigura{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
/* EFECTOS ESPECIALES Y FILTROS*/

.desenfoque{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.grises{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.grises:hover{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
