<!-- Acerca de mi -->
<section class="acercaDe mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img [src]="imgPerfil" alt="Foto Perfil" class="circulo img-fluid">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 mt-3 pt-2">
                <h4>{{nombre}}</h4>
                <h5 class="center">{{titulo}}</h5>
                <hr>
                <span class="borde">{{descripcion}}
                </span>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 mt-4 pt-2 pt-2">
                <!-- Button trigger modal - Boton para abrir formulario acercaDe -->
                <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalAcercaDe">
                    <i class="fa-solid fa-pen-to-square fa-xl"></i>
                </button>
                <!-- <button type="button" class="btn colorBoton">
                    <i class="fa-solid fa-trash fa-xl"></i>
                </button> -->
            </div>
        </div>
    </div>        
</section>
<app-modal-acercade></app-modal-acercade>