<!-- Formulario Modal Educacion -->
<div class="modal fade" id="modalEducacionAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Agregar Educación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="row g-3">
                    <div class="col-12">
                        <label for="inputInstitucionEduAdd" class="form-label">Institución</label>
                        <input type="text" formControlName="institucion" class="form-control" id="inputInstitucionEduAdd" placeholder="Nombre de la institución" [ngClass]="{'is-invalid': Institucion?.errors && Institucion?.touched, 'is-valid': !Institucion?.errors && Institucion?.touched}">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Institucion?.errors && Institucion?.touched">    
                        <p *ngIf="Institucion?.hasError('required')" class="error">
                            El Nombre de la Institución es requerido.
                        </p>
                    </div>
                    <div class="col-12">
                        <label for="inputAddressEduAdd" class="form-label">Dirección</label>
                        <input type="text" formControlName="direccion" class="form-control" id="inputAddressEduAdd" placeholder="Calle, Avda ..." [ngClass]="{'is-invalid': Direccion?.errors && Direccion?.touched, 'is-valid': !Direccion?.errors && Direccion?.touched}">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Direccion?.errors && Direccion?.touched">    
                        <p *ngIf="Direccion?.hasError('required')" class="error">
                            La Dirección es requerida.
                        </p>
                    </div>
                    <div class="col-12">
                        <label for="inputTituloEduAdd" class="form-label">Título</label>
                        <input type="text" formControlName="titulo" class="form-control" id="inputTituloEduAdd" placeholder="Ingeniero, Contador, Profesor" [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="Titulo?.errors && Titulo?.touched">    
                        <p *ngIf="Titulo?.hasError('required')" class="error">
                            El Título es requerido.
                        </p>
                    </div>
                    <div class="col-4">
                        <label for="inputFecInicioEduAdd" class="form-label">Fecha Inicio</label>
                        <input type="date" formControlName="fecha_inicio" class="form-control" id="inputFecInicioEduAdd" placeholder="dd/mm/aaaa" [ngClass]="{'is-invalid': FechaInicio?.errors && FechaInicio?.touched, 'is-valid': !FechaInicio?.errors && FechaInicio?.touched}">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">    
                        <p *ngIf="FechaInicio?.hasError('required')" class="error">
                            La Fecha de Inicio es requerida.
                        </p>
                    </div>
                    <div class="col-4">
                        <label for="inputFecFinalEduAdd" class="form-label">Fecha Final</label>
                        <input type="date" formControlName="fecha_fin" class="form-control" id="inputFecFinalEduAdd" placeholder="dd/mm/aaaa" [ngClass]="{'is-invalid': FechaFin?.errors && FechaFin?.touched, 'is-valid': !FechaFin?.errors && FechaFin?.touched}">
                    </div>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div *ngIf="FechaFin?.errors && FechaFin?.touched">    
                        <p *ngIf="FechaFin?.hasError('required')" class="error">
                            La Fecha de Finalización es requerida.
                        </p>
                    </div>
                    <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Grabar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>